.leaderboardPg {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #002F67, #3993CD) no-repeat fixed;
}

.pgContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 5rem);
  left: 5rem;
  padding: 1rem;
}

#lbHeader {
  padding: 0;
}

#lbTableCont {
  padding: 0;
  margin-top: 10px;
}

#lbTitle {
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
}

#lbIcon {
  margin-right: 1rem;
  color: yellow;
}

#lbTableTitle {
  color: white;
  font-size: larger;
  font-weight: bold;
}

.weekTogBtn {
  border-radius: 20px !important;
}