#BackgroundVideo {
    height: 100%;
    width: 100%;
    float: left;
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #globe {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #globe {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #globe {
        display: none;
    }
    body {
        background: url('./Video/poster.jpg');
        background-size: cover;
    }
}
