.container {
  margin-top: 0;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 10em;
  height: 15rem;
  width: 100%;
  text-align: center;
  color: rgb(174, 179, 179);
}

.icon {
  margin-right: 1rem;
  color: rgb(174, 179, 179);
}

a {
  color: rgb(174, 179, 179);
}