
.aboutUsPg {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
  row-gap: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #002F67;
  row-gap: 0;
}

.pgContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 5rem);
  left: 5rem;
  padding: 0;
  margin-top: 0rem !important;
  row-gap: 0;
}

#ContactInfo {
  color: white;
  text-align: center;
  /* line-height: 3rem; */
}

/* .icon2 {
  align-items: center;
  justify-content: center;
} */

#aboutUsHeader {
  color: #ffcc00;
  font-weight: bolder;
  text-shadow: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-top: 0rem !important;
	font-size: 56px;
	text-shadow: 0px 4px 4px #282828;
  row-gap: 0;
}

#howToPlay {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-shadow: 0px 2px 2px yellow;

}

#ControlledCarousel {
  justify-content: center;
  display: absolute;
  height: 100%;
  width: 50%;
}

#Instructions {
  color: white;
}

#container {
    display: flex;
    gap: 10%;
}